###################################################################
## Example Gitignore File 
## To ignore HTAccess Files
###################################################################

**/.htaccess*